@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: monserrat, sans-serif;
}
/*
input, button{
  appearance: none;
  background: none;
  border: none;
  outline: none;
}
.home, .user{
  display: flex;
  height: 90vh;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}
/*
form {
  display: block;
  position: relative;
}
form:after{
content: '';
display: block;
position: absolute;
top: -5px;
left: -5px;
right: -5px;
bottom: -5px;
z-index: 1;
background-image: linear-gradient(to bottom right, #FFCE00, #FE4880);
}
form .form-form {
  position: relative;
  display: block;
  background-color: #FFF;
  padding: 30px;
  z-index: 2;
}

form .form-inner{
  position: relative;
  display: block;
  background-color: #fff;
  padding: 30px;
  z-index: 2;
}

form .form-inner h2 {
  color: #888;
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 30px;
}

form .form-inner .form-group{
  display: block;
  width: 300px;
  margin-bottom: 15px;
}

.form-inner .form-group:focus-within label{
  color: #FE4880;
}

form .form-inner .form-group input {
  display: block;
  width: 100%;
  padding: 10px 15px;
  background-color: #f8f8f8;
  border-radius: 8px;
  transition: 0.4s;
}

form .form-inner .form-group input:focus{
  box-shadow: 0px 0px 3px rgba(0,0,0,0.2);
}

form .form-inner input[type="submit"]{
  display: inline-block;
  padding: 10px 15px;
  border-radius: 8px;
  background-image: linear-gradient(to right, #FFCE00 50%, #FFCE00 50%,#FE4880 );
  background-size: 200%;
  background-position: 0%;
  transition: 0.4s;
  color: #FFF;
  font-weight: 700;
  cursor: pointer;

}

form .form-inner input[type="submit"]:hover{
  background-position: 100% 0%;
}

*/